body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #6bbdcf;
}

h1, h2 {
  color: #060606eb;
}

input, button {
  padding: 10px;
  margin: 10px 0; ;
}

#weatherOutput, .cityBox {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

ul {
  padding-left: 20px;
}
